.stock-list-header {
    padding: 10px 15px;
}

.stock-column-header, .view-mode-column-header {
    display: inline-block;
    width: 50%;
}

.stock-column-header {
    text-align: left;
}

.view-mode-column-header {
    text-align: right;
}

.stock-remove-btn {
    position: absolute;
    top: 0;
    right: 15px;
}