.list-group-item-heading, .stock-quantity{
  text-align: left;
}

.stock-quantity {
    display: inline-block;
    width: 50%;
}
.stock-price {
    display: inline-block;
    width: 50%;
    text-align: right;
}
