.stock-value {
    border-radius: 5px;
    padding: 5px;
    color: white;
    width: 80px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.stock-value--negative {
    background-color: red;
}

.stock-value--neutral {
    background-color: grey;
}

.stock-value--positive {
    background-color: green;
}
